@font-face{
    font-family: "Oswald-Regular";
    src:url(../fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face{
    font-family: "Oswald-Light";
    src:url(../fonts/Oswald/static/Oswald-Light.ttf);
}
