@import "_fonts.scss";
@import "_mixins.scss";

*,*:before,*:after{
    padding: 0;
    margin: 0 auto;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f8f3;
    // background-color: black;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;
        border-bottom: 1px solid #c4c9d3;
    }
    &__list li {
        list-style: none;
        margin: 0 0 0 20px;
    }
    &__list{       
        @include list;
        display: flex;
        position: relative;
        z-index: 2;
    }
    &__link{
        @include list;
        text-decoration: none;
    }
    &__link:hover {
        opacity: 0.5;
    }
    &__logo {
        color: rgba(255,255,255,255);
        font-family: Oswald-Regular;
        font-size: 30px;
    }
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    
}
.scrolled {
    background-color: #fff;
    // opacity: 0.5;
}
.scrolled a {
    color: #000;
}

// login ------------------------------------------
.login {
    &__list{
        display: flex;
        padding-right: 20px;
        padding-left: 10px;
        list-style-type: none;
        z-index: 10;
    }
    &__link {
        text-decoration: none;
        @include list;
    }
    &__link:hover {
        opacity: 0.5;
    }
}

// intro ------------------------------------------
.intro {
    height: 100vh;
    padding: 0 calc(50% - 550px);
    padding-top: 32vh;
    background: url(../img/intro_bg_big.png) center / cover no-repeat #abcbe2;
    background-blend-mode: multiply;
    text-align: right;
    position: relative;
    z-index: 1;
    &__titlefrst {
        @include title;
    }
    &__titlescnd {
        @include title;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 24px;
        font-family: Oswald-Light;
        color:rgba(247,248,243,255);
        margin-bottom: 40px;
        letter-spacing: 6.5px;
    }
    &__btn {
        font-family: Oswald-Regular;
        font-size: 20px;
        text-transform: uppercase;
        color: rgba(247,248,243,255);
        background: none;
        border: 1px solid rgba(255,255,255,0.5);
        padding: 15px 100px 15px 40px;
        margin-bottom: 25px;
        cursor: pointer;
        border-radius: 3%;
    }
    &__btn:hover {
        background-color:rgba(247,248,243,255);
        color: #000;
        font-size: 21px;
        transition: all 1s ease-out;
    }
    &__line {
        position: absolute;
        transform: translate(-80px, 30px);
    }
    &__line:hover {
        display: none;
    }
    &__link {
        font-family: Oswald-Light;
        text-decoration: none;
        letter-spacing: 5px;
        font-size: 18px;
        color: rgba(247,248,243,255);
    }
    &__link:hover {
        border-bottom: 1px solid rgba(247,248,243,255);
        letter-spacing: 6px;
        transition: all 1s ease-out;
    }
    &__arrow {
        margin-left: 10px;
    }
    &__linktr {
        text-decoration: none;
        @include list;
        font-size: 26px;
        letter-spacing: 3px;
        display: block;
        transform: rotate(-90deg);
        position: absolute;
        left: -35px;
        bottom: 240px;
    }
    &__linktr:hover {
        opacity: 0.5;
    }
    &__linktr-line {
        transform: rotate(-90deg);
        position: absolute;
        bottom: -35px;
        left: -80px;
    }
}
.arrow {
    position: absolute;
    bottom: 60px;
    right: 48.6%;
}

// main --------------------------------------------

// about --------------------------------------------
.about {
    margin-top: 25px;
    background-color: #f7f8f3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icons {
        margin-top: 100px;
        margin-bottom: 80px;
        // padding-top: 35px;
        position: relative;
    }
    &__icons-title {
        text-transform: uppercase;
        color: #1c1c1b;
        font-family: Oswald-Regular;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 5px;
        // padding-bottom: 25px;
    }
    &__icons-holder {
        position: absolute;
        transform: translate(-600px, -85px);
    }
    &__menu {
        margin: 0 auto;
        margin-top: 75px;
        margin-bottom: 40px;
        border-bottom: 2px solid #ced6af;
        width: fit-content;
        
    }
    &__menu-list {
        list-style-type: none;
        
    }
    &__menu-list li {
        display: inline;
        
    }
    &__menu-link {
        text-decoration: none;
        color: rgba(28,28,27,255);
        font-family: Oswald-Regular;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 7px;
        padding-right: 65px;
    }
    &__menu-link:hover {
        border-bottom: 2px solid #000;
        border-radius: 1%;
        background-color: #f2f3ef;
        opacity: 0.8;
        transition: all 0.5s ease-out;
    }
    &__content {
        display: flex;
        padding: 0 calc(50% - 560px);
        justify-content: space-between;
    }
    &__text {
        width: 35%;
        padding-left: 25px;
    }
    &__text-title {
        font-family: Oswald-Regular;
        font-size: 24px;  
        color: rgba(0,0,0,255);
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 5px;
        padding-top: 65px;
        // margin-top: 65px;
        text-align: left;
        margin-bottom: 35px;
    }
    &__text-par {
        font-size: 18px;
        font-family: Oswald-Light;
        color: rgba(110,119,74,255);
        letter-spacing: 0.7px;
        text-align: left;
        margin-bottom: 35px;
        line-height: 2;
    }
    &__pictures {
        display: flex;
        flex-direction: column;
        // padding-top: 30px;
        margin-bottom: 70px;
    }
    &__pictures-img {
        padding-top: 25px;
        // width: 100%;
    }
}

// Featured products -------------------
.featprod {
    // position: relative;
    &__title {
        color: rgba(28,28,27,255);
        font-family: Oswald-Regular;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 7px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__price {
        font-family: Oswald-Regular;
        font-size: 18px;
        color: rgba(28,28,27,255);
        // padding-left: -105px;
    }
    &__btn {
        font-family: Oswald-Regular;
        font-size: 20px;
        color: rgba(255,255,255,255);
        text-transform: uppercase;
        background-color: #6e774a;
        padding: 15px 110px 15px 40px;
        margin-right: 1px;
    }
    &__btn:hover {
        border-radius: 1%;
        color: #6e774a;
        background-color: #ced6af;
        font-size: 21px;
        font-weight: 900;
        letter-spacing: 2px;
        padding: 14px 95px 14px 40px;
        border: 1px solid #6e774a;
        cursor: pointer;
        transition: all 1s ease-out;
        
    }

}
// Slider ------------- 
.slick-list{
    overflow: hidden; 
}
.slick-track{
    display: flex;
    justify-content: space-between;
    // align-items: center;   
}
.slider{
    position: relative;
    // padding: 0;
    margin-bottom: 100px;
    &__description {
        background-color: #f1f1f1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        width: 500px;
        align-items: center;
    }
    
    &__item{
        text-align: center;
        margin-bottom: 0;
    }
}
// Мои стрелки
.slider .slick-arrow{
    position: absolute;
    margin: 0 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 30px;
    outline: none;
}
.slider .slick-arrow:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s ease-out;
}
.slider .slick-arrow.slick-prev{
    left: 47%;
    bottom: 0;
    transform: translateX(-25px);
    background: url(../img/prev-arrow.png) 0 0 / 100% no-repeat;

}
.slider .slick-arrow.slick-next{
    right: 47%;
    bottom: 1.01249999px;
    transform: translateX(25px);
    background: url(../img/next-arrow.png) 0 0 / 100% no-repeat;
}

// FAQ -----------------------------
.faq {
    width: 40%;
    text-align: left;
    margin-bottom: 475px;
    &__title {
        font-family: Oswald-Regular;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: normal;
        color: rgba(28,28,27,255);
        margin-bottom: 30px;
        margin-left: 33px;
        letter-spacing: 7px;
    }
}

.accordion {
    background-color: transparent;
    font-size: 18px;
    font-family: Oswald-Light;
    letter-spacing: 6px;
    color: rgba(110,119,74,255);
    cursor: pointer;
    padding: 20px 0 20px 40px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #eaedde;
    border-bottom: 1px solid #eaedde;
    outline: none;
    transition: 0.4s;
    position: relative;
}
.panel {
    font-size: 18px;
    font-family: Oswald-Light;
    letter-spacing: 1px;
    color: rgba(0,0,0,255);
    display: none;
    overflow: hidden;
    padding: 20px 0 20px 40px;
    
    
}
.active, .accordion:hover {
    background-color: rgb(241, 236, 236);
    transition: all 1s ease-out;
}
.accordion::before {
    content: "";
    background: url(../img/plus.png) 0 0 / 100% no-repeat;
    // padding-left: 5px;
    // padding-right: 5px;
    // margin: 0 35px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 23px;
}
// testimonials

.testimonials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 450px;
    &__content {
        width: 40%;
        
        text-align: center;
    }
    &__content-par {
        font-family: Oswald-Light;
        font-size: 22px;
        color: #cbc8c1;
        letter-spacing: 2px;
        margin: 25px 0;
    }
    &__content-name {
        font-family: Oswald-Regular;
        font-size: 24px;
        letter-spacing: 5px;
        color: rgba(255,255,255,255);
        position: relative;
    }
    &__content-name::before {
        content: '';
        background: url(../img/Testimonials_line.png);
        width: 60px;
        height: 2px;
        position: absolute;
        bottom: 40%;
        transform: translateX(-85px);
    }
}

// The second slider -----------------

#slider {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: 0;
    // overflow: hidden;
}
#slider .slick-arrow{
    position: absolute;
    margin: 0 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 100px;
    height: 80px;
    outline: none;
    border: 1px solid #f7f8f3;
    
}
#slider .slick-arrow:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s ease-out;
}
#slider .slick-arrow.slick-prev{
    bottom: 0;
    left: 50%;
    transform: translateX(-100px);
    background: url(../img/secondslider_Left.png) 0 0 / 40% no-repeat;
    background-position: center;
    padding-left: 5px;

}
#slider .slick-arrow.slick-next{
    right: 50%;
    transform: translateX(100px);
    bottom: 0;
    background: url(../img/secondslider_Right.png) 0 0 / 40% no-repeat;
    background-position: center;
}

// Footer -----------------------

.footer {
    display: flex;
    height: 50%;
    padding: 0 calc(50% - 550px);
    text-align: center;
    position: relative;
    align-items: center;
    &__menu {
        // margin-top: 25px;
        // width: 25vw;
    }
    &__list {
        list-style-type: none;
    }
    &__list li {
         margin-bottom: 15px;
    }
    &__link {
        font-family: Oswald-Light;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        color: rgba(110,119,74,255); 
    }
    &__link:hover {
        opacity: 0.5;
    }
    &__info {
        display: flex;
        flex-direction: column;
        // align-items: stretch;
        // margin: 0;
        // width: 20%;
    }
    &__info-title {
        font-family: Oswald-Light;
        font-size: 60px;
        text-transform: uppercase;
        color: rgba(110,119,74,255);
        margin-bottom: 30px;
    }
    &__info-social {
        margin-bottom: 50px;
    }
    &__info-social a {
        text-decoration: none;
    }
    &__info-form {
        align-items: center;
        text-align: center;
        margin-bottom: 80px;
    }
    &__end {
        font-family: Oswald-Light;
        font-size: 11px;
        color: rgba(110,119,74,255);
        letter-spacing: 3px;
        margin-bottom: 25px;
    }
}
.policy {
    margin: 0 auto;
    padding: 0;
}
.shipping {
    margin: 0 auto;
    padding: 0;
}

// .line-1::before {
//         content: '';
//         background: url(../img/footer_line_left.png) 0 0 / 100% no-repeat;
//         width: 350px;
//         height: 2px;
//         position: absolute;
//         left: 18%;
//         transform: translate(-50px, -100px);
// }
// .line-2::before {
//     content: '';
//     background: url(../img/footer_line_left.png) 0 0 / 100% no-repeat;
//     width: 350px;
//     height: 2px;
//     position: absolute;
//     right: 18%;
//     transform: translate(50px, -100px);
// }

.fab {
    color: #6e774a;
    font-size: 24px;
}
.fab:hover {
    opacity: 0.5;
    transition: all 1s ease-out;
}
.fa-facebook-f, 
.fa-twitter {
    padding-right: 50px;
}
.form {
    width: 360px;
    height: 55px;
    border: 2px solid #ced6af;
    // outline: none;
    background-color: #f7f8f3;
    text-align: left;
    display: flex;
    
    &__title {
        font-family: Oswald-Light;
        letter-spacing: 3px;
        font-size: 18px;
        color: rgba(28,28,27,255);
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__btn {
        width: 60px;
        height: 100%;
        // background-color: rgb(75, 24, 216);
        font-size: 16px;
        outline: none;
        background-color: #f7f8f3;
    }
    &__btn:hover {
        cursor: pointer;
        background-color: rgba(245, 229, 229, 0.486);
        transition: all 1s ease-out;
    }
    &__btn::before {
        content: '';
        background: url(../img/email_line.png) 0 0 / 100% no-repeat;
        font-size: 0;
        width: 2px;
        height: 40px;
        position: absolute;
        transform: translate(-30px, -20px);
    }
    &__btn::after {
        content: '';
        background: url(../img/btn_form_Arrow.png) 0 0 / 100% no-repeat;
        font-size: 0;
        width: 25px;
        height: 40px;
        position: absolute;
        transform: translate(-10px, -8px);
        
    }
}
#mail {
    height: 100%;
    width: 290px;
    padding-left: 15px;
    outline: none;
    background-color: #f7f8f3;
    font-family: Oswald-Light;
    color: rgba(110,119,74,255);
    font-size: 16px;
    letter-spacing: 2px;
    // background-color: red;
}
#mail::placeholder {
    font-family: Oswald-Light;
    color: rgba(110,119,74,255);
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #f7f8f3;
}

// Адаптивка

@media only screen and (max-width: 960px) and (min-width: 720px) {
    .footer {
        &__info-title {
            font-size: 50px;
        }
        &__link {
            font-size: 12px;
            letter-spacing: 2px; 
        }
    }
    .form {
        width: 300px;
        height: 55px;
    }
    .about {
        &__pictures-img {
            padding-top: 100px;
        }
    }
    .intro {
        &__titlefrst {
            font-size: 50px;    
            letter-spacing: 12px;
        }
        &__titlescnd {
            font-size: 50px;    
            letter-spacing: 12px;
        }   
    }
}

@media only screen and (max-width: 719px) {
    .footer {
        &__info-title {
            font-size: 50px;
        }
        &__link {
            font-size: 12px;
            letter-spacing: 2px; 
        }
    }
    .form {
        width: 300px;
        height: 55px;
    }
    .about {
        padding: 0 calc(50% - 800px);
        &__pictures-img {
            padding-top: 150px;
            // width: 100%;
        }
        &__text {
            width: 35%;
            padding-left: 25px;
        }
        &__text-title {
            font-size: 20px;
            letter-spacing: 4px;
        }
        &__text-par {
            font-size: 18px;
            letter-spacing: 0.7px;
            line-height: 1.5;
        }
    }
    .intro {
        &__titlefrst {
            font-size: 40px;    
            letter-spacing: 10px;
        }
        &__titlescnd {
            font-size: 40px;    
            letter-spacing: 10px;
        }   
    }
    
}